

    <div id="navbar" class="startp-nav is-sticky">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/">
                    <img class="imghover" style="    max-width: 40%;
                    border-radius: 98px;" src="assets/img/ashu.jpg"
                        alt="logo"></a><button class="navbar-toggler navbar-toggler-right collapsed" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" [routerLink]="['']" routerLinkActive="active">Home</a></li>
                        <li class="nav-item"><a class="nav-link"  [routerLink]="['/about']">About</a></li>
                        <li class="nav-item"><a class="nav-link"[routerLink]="['/features']">Features</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/servicess']">Services</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/careers']">Careers</a></li>
                    </ul>
                </div>
                <div class="others-option">
                    <a class="btn btn-primary" style="height: 55px;
                    width: 173px;
                    text-align: center;
                    border-radius: 9px;
                    border-color: white;
                    padding: 14px 0 0 1px;" [routerLink]="['/contact']">GET IN TOUCH</a>
                </div>
            </nav>
        </div>
    </div>
    
    
